._25615576 {
    background-color: #1C6CE4;
    width: 100%;
    height: 9px;
    display: none;
}

._29606628 {
    display: flex;
    align-items: center;
    height: 67px;
    box-sizing: border-box;
    padding: 0px 10px;
    background-color: #3F51B5;
    color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1000;
}

._12263913 {
    height: 100%;
    display: flex;
    align-items: center;
}

img._24532326 {
    height: 47px;
    box-sizing: border-box;
}

ul._86869268 {
    display: flex;
    list-style-type: none;
    height: 100%;
}

.navbar-item {
    padding-left: 20px;
    height: 100%;
}

.navbar-link {
    text-decoration: none;
    color: inherit;
    font-family: roboto;
    font-size: 17px;
    line-height: 67px;
    margin-left: 20px;
    box-sizing: border-box;
}

.navbar-link:hover {
    color: #82B1FF;
    border-bottom: 3px solid white;
}

._09157142 {
    overflow: hidden;
    display: flex;
    align-items: center;
}

img._60833622 {
    width: 100%;
    position: relative;
    top: -25px;
}

._69787797 {
    height: calc((100vh - 74px) * 0.7);
    position: relative;
}

._49109951 {
    padding-top: 30px;
    text-align: center;
    margin: auto;
}

._46146086 {
    margin: auto;
    text-align: center;
}

h1._24493323 {
    font-family: roboto;
    margin-left: 10px;
    font-weight: 600;
    letter-spacing: 4px;
}

h1._95052995 {
    font-family: inherit;
    font-size: 46px;
    margin: 0px;
    font-weight: 500;
}

h2._24105610 {
    font-family: inherit;
    margin: 0px;
    font-weight: 300;
}


._05255859 {
    background-image: linear-gradient(to right, rgba(81, 127, 160, 0.17) 0%, rgba(32, 93, 156, 0.45) 100%);
    /* background-image: linear-gradient(to right, rgba(81, 160, 131, 0.31) 0%, rgba(32, 99, 156, 0.55) 100%); */
}

._19777562 {
    display: flex;
    flex-direction: column;
}

._33612487 {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 1000;
}

._51286804 {
    height: 67px;
}

._50792474 {
    flex-grow: 1;
}

.stack-layer {
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    color: white;
}

._31140097 {
    font-size: larger;
    font-weight: bolder;
}

._56097543 {
    border-radius: 2px;
    border-style: none;
    background-color: #3F51B5;
    margin-top: 15px;
    font-size: 35px;
    padding: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    outline: none;
    /* display: block; */
    /* margin: auto; */
}

.pageslice {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    overflow: hidden;
}

._51286714 {
    margin: auto;
}

._51286814 {
    height: calc( (100vh - 67px) * 0.2 );
}

._40911087 {
    width: 50%;
    display: block;
}

img._00431772 {
width: 100%;}

._05906121 {
    width: 50%;
}

.nobaseline img {
    vertical-align: bottom;
}


.loc-callout-link:hover {
    text-decoration: underline;
}

._33116058 {
    padding-top: 20px;
}

._03064914 {
    margin: auto;
}

._12446073 {
    height: 300px;
    margin-top: 15px;
}

._30193573 {
    display: flex;
    align-items: center;
}

._14763650 {
    background-color: rgba(0, 0, 0, 0.46);
}

._35511322 {
    font-size: 40px;
}

._46815719 {
    text-align: center;
    display: flex;
}

._11316256 {
    margin: auto;
}

._16691993 {
    display: block;
    font-size: larger;
    color: white;
    text-decoration: none;
}

._70191851 {
    display: block;
}

._16691993:hover {
    text-decoration: underline;
}

._09371838 {
    font-size: 20px;
}

.image-text-slice {
    margin: 15px;
}


._91861681 {
    height: 50px;
    background-color: #5D648E;
    /* color: white; */
    text-align: right;
    justify-content: flex-end;
    padding-right: 20px;
}

._39519672 {
    height: 200px;
    background-color: #e8e8e8;
}