.bpk {
  @extend .pageslice;
  color: $fg-5;
  background-color: $bg-5;
  flex-direction: column;
  padding-top: $paddingBase;
  padding-bottom: $paddingBase * 0.75;
}


// Title
.bpk__titlec {
  display: flex;
  width: 100%;
}
.bpk__title {
  width: 50%;
  font-weight: 400;
}

$interITMargin: 10px;
.bpk__title_if {
  text-align: right;
  margin-right: $interITMargin/2;
  font-style: italic;
  font-size: 20px;
}
.bpk__title_then {
  font-size: 25px;
  margin-top: 50px;
  margin-left: $interITMargin/2;
}


// Subtitle
.bpk__subtitle {
  font-weight: 300;
  font-size: 17px;
  width: 700px;
  text-align: center;
}

//image slider
.bpk__imgslider {
  // @include reset(spacing);
  border-width: 0px;
  width: 100%;
  max-width: 800px;
  background-color: transparent;
}


//post text and button

.bpk__postc {
  display: flex;
  align-items: center;
  width: 800px;
}

.bpk__posttxt {
  text-align: right;
  margin-right: 15px;
}

.bpk__picbtn {
  background-color: #5f9744;
  width: 500px;
  font-size: 18px;
  line-height: 1.3;
  padding: 10px 10px;
  color: #fffdfa;
  border: none;
  box-shadow: 0 2px 0 0 rgba(0,0,0,.2);
}
