.cya {
  @extend .pageslice;
  height: 450px;
}

.cya__img {
  width: 100%;
  position: relative;
  bottom: 175px;
}

.cya__sl {
  display: flex;
  flex-direction: column;
  background-color: $bg-7;
  color: $fg-7;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.cya__cc {
  font-size: 35px;
  margin: auto;
  // padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-style: italic;
}

.cya__btn {
  @extend .button;
  @extend .button_good;
  width: 300px;
  font-style: normal;
}

.cya__credits {
  @extend .pageslice;
  height: 50px;
  background-color: $bg-8;
  color: $fg-8;
  text-align: right;
  padding-right: 20px;
  p {
    width: 100%;
  }
}
