// basic layout
.fmatter {
  height: 90vh;
  width: 100%;
}

.fmatter__imglayer {
  @extend .stack-layer;
  display: flex;
  align-items: center;
}

.fmatter__textlayer {
  @extend .stack-layer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// navbar
.fmatter__nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 17px;
  background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.43))
}

.fmatter__navlink {
  margin-right: 25px;
  color: inherit;
  text-decoration: inherit;;
}

// main text
.fmatter__textc {
  
}

.fmatter__title {
  font-size: 55px;
  margin-bottom: 20px;
}
