.intro {
  flex-direction: column;
  color: $fg-2;
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: $bg-2;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  height: 209px;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px -3px 8px 1px rgba(0,0,0,0.2);
  font-family: $font;
}

.intro h2 {
  font-weight: 300;
  font-size: 30px;
}

.intro ul {
  @include reset(spacing)
  margin: auto;
  display: flex;
  list-style-type: none;
}

.intro ul > li {
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro i.fa {
  color: $fg-mute-2;
}

.intro p {
  font-size: 18px;
  color: rgba(255,255,255,0.7);
}
