// $fLoadingSelector: 'html.fonts-loading-one';
// $fFallbackSelector: 'html.fonts-fallback-one';

.rooms {
  @extend .pageslice;
  background: $bg-6;
  color: $fg-6;
  flex-direction: column;
  font-family: $fonts;
}

// #{$fLoadingSelector} .rooms {
//   color: transparent;
// }

.rooms__title {
  margin-top: 35px;
  font-size: 35px;
  font-weight: 400;
  margin-bottom: 40px;
}

.rooms__row {
  width: 100%;
  display: flex;
}

.rooms__imgc {
  width: 50%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 35px;
  margin-top: 0px;
}

.rooms__img {
  width: 100%;
}

.rooms__imgtxt {
  font-size: 20px;
  strong {
    font-size: larger;
  }
}
