// general structure
.fmatter {
  @extend .pageslice;
  height: 70vh;
}
.fmatter__cc {
  margin: auto;
  display: flex;
  flex-direction:column;
  max-width: $wideText;
}


// main title
.fmatter__brand {
  height: $titleSize;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.fmatter__logo {
  @extend .nobaseline;
  height: 100%
}
.fmatter__brandname {
  font-size: 0.7 * $titleSize;
  margin: 0px;
  padding-left: 20px;
  color: $fg;
}

//subtext
.fmatter__subtitle {
  font-size: $subtitleSize;
  text-align: center;
  color: $fg;
  font-weight: bold;
}
.fmatter__desc {
  font-size: $descSize;
  font-weight: 300;
  line-height: 28.8px;
  color: $fg;
  text-align: center;
}
