.bigfoot {
  @extend .pageslice;
  height: 250px;
  // background-color: #9FA8DA;
  // background-image: radial-gradient(circle farthest-side at right bottom,#fff 8%,#154866 70%,#000);
  background-image: $bg-1;
  flex-direction: column;
}

.bigfoot__txtt {
  margin: auto;
  font-size: 35px;
}

.littlefoot {
  @extend .pageslice;
  width: 100%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #FBFBFB;
  text-align: right;
  justify-content: flex-end;
  padding-right: 20px;
}
