.heropic {
  @extend .pageslice;
  position: relative;
  bottom: 400px;
  background-color: rgba(0,0,0,0);
}

.heropic__img {
  width: 800px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(13,31,41,0.2);
}
