// color schemes: ---------------------------------------------------

// front page scheme
$bg-1: radial-gradient(circle farthest-side at right bottom,#fefdfe 5%,#f8cdda 25%,#1d2b64 80%,#0e153a 98%);
// $bg-1: radial-gradient(circle farthest-side at right bottom,#fff 8%,#154866 70%,#000);
$fg-1: #FFFDFA;

// intro slice
// $bg-2: hsla(0,22%,56%,0.45);
$bg-2: #1E8184;
$fg-2: $fg-1;
$fg-mute-2: rgba(0,0,0,0.5);

// image text slice
$bg-3: $fg-1;
$fg-3: #272727;

// bigtext slice
$bg-4: #fff;
$fg-4: #666;

// activities slice
$bg-5: #3f5767;
$fg-5: #FFFDFA;

// rooms slice
$bg-6: radial-gradient(at top, #E7CB98, #8a472e);
$fg-6: black;
$fg-light-6: rgba(255,255,255, 0.5);

// cya slice
$bg-7: rgba(0,0,0,0.5);
$fg-7: $fg-1;

$bg-8: rgba(0,0,0,0.5);
$fg-8: rgba($fg-7, 0.4);

// legacy schemes

// scheme 1
$bg: white;
$fg: #FFFDFA;
$highlight: #3E6BB4;

// scheme 2
$bg-alt: #FAF6EC;
$fg-alt: black;
$highlight-alt: $highlight;



// font sizes: ---------------------------------------------------
$titleSize: 80px;
$subtitleSize: 25px;
$descSize: 20px;

$font: 'roboto';

// widths: -------------------------------------------------------
$wideText: 900px;
$narrowText: 600px;

$paddingBase: 50px;
