// color schemes: ---------------------------------------------------

// scheme 1
$bg: white;
$fg: #4D4D4D;
$highlight: #3E6BB4;

// scheme 2
$bg-alt: #FAF6EC;
$fg-alt: black;
$highlight-alt: $highlight;



// font sizes: ---------------------------------------------------
$titleSize: 80px;
$subtitleSize: 25px;
$descSize: 20px;

// widths: -------------------------------------------------------
$wideText: 900px;
$narrowText: 600px;
